[submodule "plugins/slime"]
	path = plugins/slime
	url = git://github.com/nablaone/slime.git
[submodule "plugins/clojure-mode"]
	path = plugins/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "plugins/emacs-for-python"]
	path = plugins/emacs-for-python
	url = git@github.com:rags/emacs-for-python.git
[submodule "plugins/ecb"]
	path = plugins/ecb
	url = git://github.com/emacsmirror/ecb.git
[submodule "plugins/find-file-in-project"]
	path = plugins/find-file-in-project
	url = git://github.com/technomancy/find-file-in-project.git
[submodule "plugins/fuzzy-match"]
	path = plugins/fuzzy-match
	url = git://github.com/emacsmirror/fuzzy-match.git
[submodule "plugins/smex"]
	path = plugins/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "plugins/js2-mode"]
	path = plugins/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "plugins/js2-refactor"]
	path = plugins/js2-refactor
	url = git://github.com/magnars/js2-refactor.el.git
[submodule "plugins/expand-region"]
	path = plugins/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule "plugins/mark-multiple"]
	path = plugins/mark-multiple
	url = git://github.com/magnars/mark-multiple.el.git
[submodule "plugins/pretty-lambdada"]
	path = plugins/pretty-lambdada
	url = git://github.com/emacsmirror/pretty-lambdada.git
[submodule "plugins/magit"]
	path = plugins/magit
	url = git://github.com/magit/magit.git
[submodule "plugins/wrap-region"]
	path = plugins/wrap-region
	url = https://github.com/rejeep/wrap-region
[submodule "plugins/scala-mode2"]
	path = plugins/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "plugins/toggle-test"]
	path = plugins/toggle-test
	url = git@github.com:rags/toggle-test.git
[submodule "plugins/yasnippet-snippets"]
	path = plugins/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
[submodule "plugins/js3-refactor"]
	path = plugins/js3-refactor
	url = git@github.com:katyo/js3-refactor.git
[submodule "plugins/emacs-color-theme-darkula"]
	path = plugins/emacs-color-theme-darkula
	url = git@github.com:rags/emacs-color-theme-darkula.git
[submodule "plugins/js3-highlight-vars"]
	path = plugins/js3-highlight-vars
	url = git@github.com:rags/js3-highlight-vars
