[submodule "plugins/slime"]
	path = plugins/slime
	url = git://github.com/nablaone/slime.git
[submodule "plugins/clojure-mode"]
	path = plugins/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "plugins/emacs-for-python"]
	path = plugins/emacs-for-python
	url = git://github.com/emacsmirror/icicles.git
[submodule "plugins/ecb"]
	path = plugins/ecb
	url = git://github.com/emacsmirror/ecb.git
[submodule "plugins/find-file-in-project"]
	path = plugins/find-file-in-project
	url = git://github.com/technomancy/find-file-in-project.git
[submodule "plugins/fuzzy-match"]
	path = plugins/fuzzy-match
	url = git://github.com/emacsmirror/fuzzy-match.git
[submodule "plugins/smex"]
	path = plugins/smex
	url = git://github.com/nonsequitur/smex.git
